*{
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}
img{
    width: 33%;
}
p{
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
}
.inline-block{
    color: white;
    background-color: red;
    height: 100px;
    display: inline-block;
}
.area-one{
    border: 1px solid black;
}
.db{
    border: 1px solid black;
    display: block;
    background-color: red;
}
h1{
    border: 3px solid red;
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline;

}
button{
    background-color: rgb(19, 19, 20);
    color: white;
    border: 3px solid white;
    padding: 20px;
    width: 200px;
    margin-top: 5px;
}
h5{
    visibility: hidden;  
}
input{
    display: none;
}

